#header {
    background-color: lightblue;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    padding: 2px;
    text-align: right;
}

#sidebar{
    margin: 10px;
    padding: 5px;
}

#content {
    float: left;
    margin: 10px;
}

#nav {
    text-align: right;
    color: white;
    background-color: lightgreen;
}

#footer {
    text-align: center;
    color: white;
    clear: both;
    background-color: lightblue;
}
